<form [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>Enter your login</mat-label>
    <input
      matInput
      formControlName="login"
    >
    <mat-error *ngIf="login!.invalid">You must enter login</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
    >
    <mat-error *ngIf="password!.invalid">You must enter password</mat-error>
  </mat-form-field>
  <br>
  <button
    mat-raised-button
    class="login--button"
    (click)="updatePasswordHandler()"
  >
    Update password
  </button>
  <br>
  <button
    mat-raised-button
    color="primary"
    class="login--button"
    (click)="loginHandler()"
  >
    LOGIN
  </button>
  <button
    mat-raised-button
    color="primary"
    class="login--button"
    (click)="singInHandler()"
  >
    SIGN IN
  </button>
</form>
