:host {
  display: inline-block;

  .answer {
    margin: 10px;

    &_isClicked {
      background-color: orange;
    }

    &_isCorrect {
      background-color: green;
    }

    &_isInCorrect {
      background-color: red;
    }
  }
}
