:host {
  display: block;

  .dashboard-card {
    display: grid;

    background-color: aqua;

    grid-template-columns: auto 1fr 1fr;
  }

  .dashboard-card--watch-list-button {
    align-self: end;
    margin-left: 10px;
  }

  .dashboard-card--detail-buttons-field {
    align-self: center;

    text-align: right;
  }

  .dashboard-card--detail-button-detail {
    margin: 5px;
  }

  .dashboard-card--detail-button-edit {
    margin: 5px;
  }
}
