:host {
  display: block;
  text-align: center;
  margin-top: 10%;
  .update-password__update-button {
    margin: 5px;
  }
  .update-password__bakc-button {
    margin: 5px;
  }
  .update-password__error-label{
    color: red;
  }
}
