:host {
  display: block;
  margin-top: 10%;

  text-align: center;

  .update-password__update-button {
    margin: 5px;
  }

  .update-password--bakc-button {
    margin: 5px;
  }

  .update-password--error-label {
    color: red;
  }
}
