<h1>Game</h1>

<app-question [questionText]="gameData[i].question"></app-question>
<div class="game_grid">
    <app-answer
        *ngFor="let value of gameData[i].answers"
        [class.game_paused]="!disabled"
        [answerText]="value.answer"
        [selected]="value.selected"
        [isCorrect]="value.isCorrect"
        [isInCorrect]="value.isInCorrect"
        (clickEmitter)="clickHandler($event)"
    ></app-answer>
</div>

<div [ngSwitch]="gameState">
    <h2 *ngSwitchCase="1">YOU WIN!</h2>
    <h2 *ngSwitchCase="0">GAME OVER!</h2>
    <button
        *ngSwitchDefault
        (click)="clickNextHandler()"
        [disabled]="disabled"
    >
        Next
    </button>
</div>
