:host {
  display: block;

  .game_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .game_paused {
    pointer-events: none;
  }

  .game__card {
    margin: 10px;
    background-color: lightblue;

    &_header {
      justify-content: center;
    }

    &_content {
      font-size: x-large;
    }
  }

  .game__footer {
    justify-content: center;
  }

  .loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 99;
  }

  .loader__spinner {
    top: 50%;
    left: 50%;
  }
}
