:host {
  display: block;

  .dashboard {
    margin: 10px 25%;
  }

  .dashboard--title {
    text-align: center;
  }

  .dashboard--sort-rating-button {
    margin: 5px;
  }

  .dashboard--logoff-button {
    float: right;
  }

  .dashboard--card-margin {
    margin: 10px;
  }
}
