<mat-card class="dashboard">

  <mat-card-title class="dashboard--title">MoviesBase!</mat-card-title>
  <div>
    <button
      mat-raised-button
      class="dashboard--sort-rating-button"
      (click)="sortRatingHandler()"
    >
      Sort rating {{sortRating}}
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Sort by category</mat-label>
      <mat-select
        [(value)]="selected"
        (selectionChange)="selectCategoryHandler($event.value)"
      >
        <mat-option value="All">All</mat-option>
        <mat-option
          *ngFor="let category of (films$ | async)! | unique"
          [value]="category"
        >
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      class="dashboard--logoff-button"
      (click)="logOffHandler()"
    >
      Log Off
    </button>
  </div>

  <mf-dashboard-card
    class="dashboard--card-margin"
    *ngFor="let film of (films$ | async) | sortCategory: sortCategory | sortRating: sortRating"
    [film]="film"
  ></mf-dashboard-card>

</mat-card>
