:host {
  display: block;
  .dashboard {
    margin: 10px 25%;
  }
  .dashboard__title {
    text-align: center;
  }
  .dashboard__sort-rating-button {
    margin: 5px;
  }
  .dashboard__logOff-button {
    float: right;
  }
  .dashboard__card-margin {
    margin: 10px;
  }
}
