<div class="root__main_center">
    <div class="root__main__grid">
        <!-- row1 -->
        <div class="row row_red">
            <button
                mat-fab
                class="button button_margin_10px"
                [disabled]="pushedRed1"
                (click)="clickRed1Handler()"
            >
            </button>
            <button
                mat-fab
                class="button button_margin_10px"
                [disabled]="pushedRed2"
                (click)="clickRed2Handler()"
            >
            </button>
            <button
                mat-fab
                class="button button_margin_10px"
                [disabled]="pushedRed3"
                (click)="clickRed3Handler()"
            >
            </button>
            <button
                mat-fab
                class="button button_margin_10px"
                [disabled]="pushedRed4"
                (click)="clickRed4Handler()"
            >
            </button>
            <button
                mat-fab
                class="button button_margin_10px"
                [disabled]="pushedRed5"
                (click)="clickRed5Handler()"
            >
            </button>
            <button
                mat-fab
                class="button button_margin_10px"
                (click)="clickRefreshHandler()"
            >
                Refresh
            </button>
        </div>
        <!-- row2 -->
        <div class="row row_pink">
            <div *ngIf="pushedBlue1; then thenBlock1 else elseBlock1"></div>
            <ng-template #thenBlock1>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue1Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock1>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue1Handler()"
                >
                </button>
            </ng-template>
            <div *ngIf="pushedBlue2; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue2Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock2>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue2Handler()"
                >
                </button>
            </ng-template>
            <div *ngIf="pushedBlue3; then thenBlock3 else elseBlock3"></div>
            <ng-template #thenBlock3>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue3Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock3>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue3Handler()"
                >
                </button>
            </ng-template>
            <div *ngIf="pushedBlue4; then thenBlock4 else elseBlock4"></div>
            <ng-template #thenBlock4>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue4Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock4>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue4Handler()"
                >
                </button>
            </ng-template>
            <div *ngIf="pushedBlue5; then thenBlock5 else elseBlock5"></div>
            <ng-template #thenBlock5>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue5Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock5>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue5Handler()"
                >
                </button>
            </ng-template>
            <div *ngIf="pushedBlue6; then thenBlock6 else elseBlock6"></div>
            <ng-template #thenBlock6>
                <button
                    mat-fab
                    class="button_blue button_margin_10px"
                    (click)="clickBlue6Handler()"
                >
                </button>
            </ng-template>
            <ng-template #elseBlock6>
                <button
                    mat-fab
                    class="button_lightblue button_margin_10px"
                    (click)="clickBlue6Handler()"
                >
                </button>
            </ng-template>
        </div>
        <!-- row3 -->
        <div
            class="row"
            [class]="row_yellow"
        >
            <button
                *ngFor="let value of arr"
                mat-fab
                color="primary"
                class="button button_margin_10px"
                [class.button_primary-off]="currentBtn === value"
                (click)="btnHandler(value)"
            >
            </button>
        </div>
        <!-- row4 -->
        <div class="row row_green">
            <button
                *ngFor="let value of arrN; index as i"
                mat-fab
                [id]="'statusBtn' + i"
                class="button button_margin_10px"
                [ngClass]="status === i ? 'button_on' : 'button_off'"
                (click)="toggleHandler(value)"
            >
            </button>
        </div>
        <!-- row5 -->
        <div [ngSwitch]="value">
            <div
                *ngSwitchCase="true"
                class="row row_blue"
            >
                <button
                    *ngFor="let value of arrN; index as i"
                    mat-fab
                    class="button button_margin_10px button_orange"
                    (click)="toggleRow4Handler()"
                >
                </button>
            </div>
            <div
                *ngSwitchCase="false"
                class="row button_orange"
            >
                <button
                    *ngFor="let value of arrN; index as i"
                    mat-fab
                    class="button button_margin_10px row_blue"
                    (click)="toggleRow4Handler()"
                >
                </button>
            </div>
        </div>
    </div>
</div>
